.venv/
__pycache__/
*.pyc
.env
models/*
!models/.gitkeep
chroma_db/*
!chroma_db/.gitkeep
bm25_index/*
!bm25_index/.gitkeep
data/documentos_teste/*
!data/documentos_teste/.gitkeep
.pytest_cache/
*.egg-info/
.DS_Store
